
.glyphicon {
	color: white;
}
.client {
	color: white;
}
.client:hover {
	color: orange;
	text-decoration: none;
}
.client:focus {
	color: white;	
	text-decoration: none;
}
.open-time {
	float: left;
}
.clientSection {
	float: right;
}
.pic {
	padding-left: 20px;
	opacity: 1;
  	transition: .5s ease;
  	backface-visibility: hidden;
}
.container:hover .pic {
  opacity: 0.3;
}
.topPic {
	padding: 0px 0px 30px 20px;
}

#pictures {
	padding-bottom: 30px;
}
.img-hover-zoom {
  overflow: hidden;
}
.img-hover-zoom img {
  transition: transform .5s ease;
}
.img-hover-zoom:hover img {
  transform: scale(1.03);
}
a b {
	text-decoration: none;
	color: black;
}
a b:hover {
	text-decoration: none;
	color: orange;
}
a {
	color: grey;
}
.info {
	color: grey;
}
a:hover {
	text-decoration: none;
	color: black;
}
.nav-bar {
	background-color: #393A44;
}
.menu-item a{
	color: white;
	text-decoration: none;
}
.active {
	background-color: #FAB702;
}
#home {
	color: black !important;
}
.menu {
	text-align: center;	 
	padding: 0px;
	margin: 0px;
}
.menu .menu-item {
	display: inline-block;
	padding: 10px 35px;
	position: relative;
	font-family: "Roboto","HelveticaNeue","Helvetica Neue",sans-serif;
	font-weight: bold;
	font-size: 15px;
}
.sub-menu .sub-menu-item a:hover {
	background-color: #393A44;
	color: white;
}
.sub-menu {
	display: none;
	position: absolute;
	top: 42px;
	left: 0px;
	right: 0px;
	padding: 0px;
	z-index: 999;
}
.sub-menu .sub-menu-item a {
	display: block;
	color: black;
	background-color: white;
	padding: 10px 0px;
}
.menu .menu-item:hover .sub-menu{
	display: block;
}
.bar {
	display: none !important;
}
#header {
	background-color: black;
	color: white; font-size: 13px;
	font-weight: 400;
	padding: 10px 70px;
	border-bottom: 1px solid grey;	
}
i {
	padding-right: 5px;
	padding-left: 5px;
	color: white !important;
}
.logo_searchbar {
	background-color: black;
	padding: 15px 70px 0px 70px;

}
#searchbar {
	width: 80%; height: 40px; padding: 0px 10px;
}
#submit {
	padding: 7px 21px; background-color: orange; color: white;
	border-radius: 5px;
}
.inline-block li{
	display: inline-block;	
}
.hotline_cart li {
	display: inline-block;
	font-size: 13px;		
}
.hotline {
	color: white;
	padding-left: 170px; 
}
.fa-phone {
	padding-left: 0;
}
.fa-shopping-cart {
	padding-left: 0;
}
.pink {
	color: pink;
}
body {
  font-family: "Roboto","HelveticaNeue","Helvetica Neue",sans-serif;
}
ul {
	list-style-type: none;
	padding: 0;
}
#carouselExampleIndicators {
	padding-bottom: 30px;
}
.productWrapper {
	box-shadow: rgba(0, 0, 0, 0.2) 0px 0px 10px;
    position: relative;
    padding: 15px;
    margin-bottom: 30px;
}
.productWrapper div {
	margin-right: 20px;
	margin-left: 20px;
}
.productWrapper img {
	width: 100%;
	height: auto;
}
.price {
	display: inline-block;	
	color: red;
	margin: 0 !important;
	font-weight: bold !important;
} 
.tag-deal {
	position: absolute;
    color: #fff;
    width: 44px;
    font-weight: 400;
    top: 10px;
    text-align: center;
    z-index: 9;
    background-size: contain;
    background-repeat: no-repeat;
    background-image: url(http://bizweb.dktcdn.net/100/347/923/themes/742041/assets/label_sale_50.png?1588656090421);
    height: 45px;
    line-height: 15px;
    font-size: 11px;
    font-family: 'UTM';
    left: 10px;
    padding: 5px 0;
    right: unset;
}
.tag-new {
	position: absolute;
    font-size: 10px;
    font-family: "UTM";
    color: #fff;
    padding: 0 10px;
    width: 44px;
    height: 44px;
    line-height: 42px;
    font-weight: 400;
    top: 10px;
    right: 0px;
    text-align: center;
    z-index: 9;
    background-size: contain;
    background-repeat: no-repeat;
	background-image: url(http://bizweb.dktcdn.net/100/347/923/themes/742041/assets/label_new.png?1588656090421&fbclid=IwAR0WNcYkF3w39yrAg1P-kPPZ-nSazUw50lYmWWVr3tWcYwE1AzaFTdpORas);
}
.tag-sale {
	position: absolute;
    font-size: 10px;
    font-family: "UTM";
    color: #fff;
    padding: 0 10px;
    width: 44px;
    height: 44px;
    line-height: 42px;
    font-weight: 400;
    top: 10px;
    right: 0px;
    text-align: center;
    z-index: 9;
    background-size: contain;
    background-repeat: no-repeat;
    background-image: url(http://bizweb.dktcdn.net/100/347/923/themes/742041/assets/label_sale.png?1588656090421);
}
#hotdeal {
	text-align: center;
	font-size: 25px;
	font-weight: bold;
	padding: 20px 0px;
}
.productsName {
	margin: 0 !important; 
	color: black !important;
	font-size: 16px;
}

.productsName:hover {
	margin: 0 !important; 
	color: orange !important;
}
del {
	margin-left: 20px;
}
footer {
	text-align: center;
}
.badge {
	background-color: lightgreen;
	border-radius: 50%;
	font-size: 15px;
	position: absolute;
	top: 15px;
	right: 20px;
}
h3 {
	background-color: black;
	color: white;
	font-weight: bold;
	padding: 10px 30px;
	margin-bottom: 30px;
}
.li_title {
	font-weight: bold;
}
#top_footer {
	padding-top: 30px;
}
.email {
	width: 60%; height: 30px; padding: 0px 10px;
}
#register {
	padding: 6px 15px; background-color: black; color: white;
	border-radius: 5px;
}
#register:hover {
	color: black;
	background-color: white;
	border-radius: 5px;
}
#myBtn {
  display: none;
  position: fixed;
  bottom: 20px;
  right: 30px;
  z-index: 99;
  border: none;
  outline: none;
  background-color: black;
  color: white;
  cursor: pointer;
  padding: 10px;
  border-radius: 5px;
}
#myBtn:hover {
	background-color: orange;
}
#heading_hotdeal1 {
	background: url(http://bizweb.dktcdn.net/100/347/923/themes/742041/assets/bg_title_hotdeal.png?1588656090421);
    position: absolute;
    width: 52px;
    height: 30px;
    top: 18px;
    left: 36.3%;	
}
#heading_hotdeal2 {
	background: url(http://bizweb.dktcdn.net/100/347/923/themes/742041/assets/bg_title_hotdeal.png?1588656090421);
	position: absolute;
	width: 52px;
	height: 30px;
	top: 18px;
	right: 36.3%;
	transform: rotate(180deg);
}
#heading {
	position: relative;
	padding-bottom: 20px;
	font-family: 'Arial';
}
div h2 {
	margin-right: auto;
	margin-left: auto;
	font-size: 27px;
	font-weight: bold;
}
.center {
	display: block;
	width: 80%;
	height: auto;
	margin-right: auto;
	margin-left: auto;
}
.mid_footer {
	text-align: center;
}
.sns {
	padding-left: 80px;   
}
.sns li a img {
	height: 50px;
	width: auto;
}
ul li form {
	padding-left: 45px;
}
.footer {
	padding: 0px;
}
#top_footer {
	margin-top: 30px;
}
.mid_footer {
	margin-top: 50px;
}
#bar {
	display: none;
	z-index: 999;
}
@media only screen and (max-width: 600px) {
	.sub-menu {
		display: none;
	}
	.open-time {
		display: none;
	}	
	.clientSection {
		float: left;
		margin: 0px;
	}
	.logoWear {
		margin: 0 100px;
	}
	#searchbar {
		width: 80%;
	}
	.search {
		margin: 0 20px;
	}
	#submit {
		padding: 8px 16px;
	}
	.logo_searchbar {
		padding: 0;
	}
	.hotline {
		padding: 0;
		margin: 0 70px;
	}
	.menu{
		position: relative;
	}
	.active {
		background-color: #393A44;
	}
	.menu #bar {
		display: block !important;
		position: absolute ;
		top: -15px;
		left: -200px;
		font-size: 20px;
	}
	.menu.responsive > .menu-item > a{
		display: block !important;
		color: white;
	}
	.sub-menu.responsive {
		display: block;
	}
	.menu.responsive > .menu-item {
		display: block;
	}

	.menu.responsive > .menu-item > #bar {
		left: 14px;
		top: -282px;
	}
	.menu li a {
		display: none;
	}
	img.pic {
		padding: 0 0 20px 0;
		margin-left: -15px;
		width: 100%;
	}
	.topPic {
		margin-left: 0 !important;
	}
	.col-md-4 {
		padding: 0px;
	}
	.sns {
		margin: 0 50px;
		padding: 0;
	}
	img.center {
		padding-bottom: 30px;
	}
	del {
		margin-left: 0;
	}
	.mid_footer {
		margin-top: 0;
	}
	.payment {
		padding-bottom: 0 !important;
	}
	.sns img {
		width: 30px !important;
		height: 30px !important;
	}
	.sns {
		padding-left: 12%;
	}
}

